In [1]:
import numpy as np
import os
import pandas as pd
from pathlib import Path
import pandas as pd

ROOT_DIR = Path.cwd().parent
DATA_DIR = ROOT_DIR / "data" 
MANIFEST_DATA_DIR = DATA_DIR / "manifest"
RAW_DATA_DIR = DATA_DIR / "raw"
CSV_DATA_DIR = DATA_DIR / "to_csv"
TXT_DATA_DIR = RAW_DATA_DIR / "20210901"
MAIN_TXT_DATA_DIR = TXT_DATA_DIR / "main"

# Purpose
(Step 0.) Transcribe the file description (see `/databae/doc/VigiBase Extract Case Level - file description.pdf`) into tables to read in the text files line by line

manifest_demo = pd.DataFrame(
    [
       ("UMCReportId", int, 11, 0, 11, "Unique number linking OUT to DEMO"),
       ("AgeGroup", str, 1, 11, 12, "AgeGroup_Lx.Code. Age of patient at time of onset of reaction"),
       ("Gender", str, 1, 12, 13, "Gender_Lx.Code"),
       ("DateDatabase", str, 8, 13, 21, "Date when report was entered into the database. [YYYYMMDD]"),
       ("Type", str, 1, 21, 22, "ReportType_Lx.Code. Report type."),
       ("Region", str, 1, 22, 23, "Region_lx.Code."),
       ("FirstDateDatabase", str, 8, 23, 31, "Date when the first version of the report was entered into the database. [YYYYMMDD]"),
    ],
  columns = ["column_name", "dtype", "number_of_chars", "char_position_start", "char_position_end", "notes"]
)
manifest_demo

In [44]:
manifest_demo.to_csv(MANIFEST_DATA_DIR / "DEMO.csv")

In [9]:
manifest_drug = pd.DataFrame(
    [
       ("UMCReportId", int, 11, 0, 11, "Unique number linking DRUG to DEMO"),
       ("Drug_Id", int, 11, 11, 22, "Unique number identifying each row in DRUG"),
       ("MedicinalProd_Id", int, 11, 22, 33, "A sequential number generated for each Medicinal product"),
       ("DrecNo", str, 6, 33, 39, "Drug record number"),
       ("Seq1", str, 2, 39, 41, "Sequence number 1"),
       ("Seq2", str, 3, 41, 44, "Sequence number 2"),
       ("Route", str, 2, 44, 46, "RouteOfAdm_Lx.Code. Route of administration of drug."),
       ("Basis", str, 1, 46, 47, "RepBasis_Lx.Code. Characterization of drug role."),
       ("Amount", str, 5, 47, 52, "Dosage regimen; Amount"),
       ("AmountU", str, 2, 52, 54, "SizeUnit_Lx.Code. Amount unit."),
       ("Frequency", str, 2, 54, 56, "Number of units in the interval"),
       ("FrequencyU", str, 3, 56, 59, "Frequency_Lx.Code. Definition of the interval."),
    ],
  columns = ["column_name", "dtype", "number_of_chars", "char_position_start", "char_position_end", "notes"]
)
manifest_drug

,column_name,dtype,number_of_chars,char_position_start,char_position_end,notes
0,UMCReportId,<class 'int'>,11,0,11,Unique number linking DRUG to DEMO
1,Drug_Id,<class 'int'>,11,11,22,Unique number identifying each row in DRUG
2,MedicinalProd_Id,<class 'int'>,11,22,33,A sequential number generated for each Medicin...
3,DrecNo,<class 'str'>,6,33,39,Drug record number
4,Seq1,<class 'str'>,2,39,41,Sequence number 1
5,Seq2,<class 'str'>,3,41,44,Sequence number 2
6,Route,<class 'str'>,2,44,46,RouteOfAdm_Lx.Code. Route of administration of...
7,Basis,<class 'str'>,1,46,47,RepBasis_Lx.Code. Characterization of drug role.
8,Amount,<class 'str'>,5,47,52,Dosage regimen; Amount
9,AmountU,<class 'str'>,2,52,54,SizeUnit_Lx.Code. Amount unit.
10,Frequency,<class 'str'>,2,54,56,Number of units in the interval
11,FrequencyU,<class 'str'>,3,56,59,Frequency_Lx.Code. Definition of the interval.

In [25]:
manifest_drug.to_csv(MANIFEST_DATA_DIR / "DRUG.csv")

In [46]:
manifest_followup = pd.DataFrame(
    [
       ("UMCReportId", int, 11, 0, 11, "Unique number linking FOLLOWUP to DEMO. This number represent the current active report and is used to link with previous versions of the same case."),
       ("ReplacedUMCReportId", int, 11, 11, 22, "Previous versions of the case, no longer available in DEMO"),
    ],
  columns = ["column_name", "dtype", "number_of_chars", "char_position_start", "char_position_end", "notes"]
)
manifest_followup

,column_name,dtype,number_of_chars,char_position_start,char_position_end,notes
0,UMCReportId,<class 'int'>,11,0,11,Unique number linking FOLLOWUP to DEMO. This n...
1,ReplacedUMCReportId,<class 'int'>,11,11,22,"Previous versions of the case, no longer avail..."

In [47]:
manifest_followup.to_csv(MANIFEST_DATA_DIR / "FOLLOWUP.csv")

In [48]:
manifest_ind = pd.DataFrame(
    [
       ("Drug_Id", int, 11, 0, 11, "Unique number linking IND to DRUG"),
       ("Indication", str, 255, 11, 266, "Reason for drug use. Indication can be decoded from MedDRA, ICD-8, ICD-9 or ICD-10."),
    ],
  columns = ["column_name", "dtype", "number_of_chars", "char_position_start", "char_position_end", "notes"]
)
manifest_ind

,column_name,dtype,number_of_chars,char_position_start,char_position_end,notes
0,Drug_Id,<class 'int'>,11,0,11,Unique number linking IND to DRUG
1,Indication,<class 'str'>,255,11,266,Reason for drug use. Indication can be decoded...

In [49]:
manifest_ind.to_csv(MANIFEST_DATA_DIR / "IND.csv")

In [11]:
manifest_link = pd.DataFrame(
    [
       ("Drug_Id", int, 11, 1, 11, "Unique number linking LINK to DRUG"),
       ("Adr_Id", int, 11, 11, 22, "Unique number linking LINK to ADR"),
       ("Dechallenge1", str, 1, 22, 23, "Dechallenge_Lx.Code. Dechallenge action."),
       ("Dechallenge2", str, 1, 23, 24, "Dechallenge2_Lx.Code. Dechallenge outcome."),
       ("Rechallenge1", str, 1, 24, 25, "Rechallenge_Lx.Code. Rechallenge action."),
       ("Rechallenge2", str, 1, 25, 26, "Rechallenge2_Lx.Code. Rechallenge outcome."),
       ("TimeToOnsetMin", float, 11, 26, 37, "Always in the base unit days (see Appendix 1)"),
       ("TimeToOnsetMax", float, 11, 37, 48, "Always in the base unit days (see Appendix 1)"),
    ],
  columns = ["column_name", "dtype", "number_of_chars", "char_position_start", "char_position_end", "notes"]
)
manifest_link

,column_name,dtype,number_of_chars,char_position_start,char_position_end,notes
0,Drug_Id,<class 'int'>,11,1,11,Unique number linking LINK to DRUG
1,Adr_Id,<class 'int'>,11,11,22,Unique number linking LINK to ADR
2,Dechallenge1,<class 'str'>,1,22,23,Dechallenge_Lx.Code. Dechallenge action.
3,Dechallenge2,<class 'str'>,1,23,24,Dechallenge2_Lx.Code. Dechallenge outcome.
4,Rechallenge1,<class 'str'>,1,24,25,Rechallenge_Lx.Code. Rechallenge action.
5,Rechallenge2,<class 'str'>,1,25,26,Rechallenge2_Lx.Code. Rechallenge outcome.
6,TimeToOnsetMin,<class 'float'>,11,26,37,Always in the base unit days (see Appendix 1)
7,TimeToOnsetMax,<class 'float'>,11,37,48,Always in the base unit days (see Appendix 1)

In [24]:
manifest_link.to_csv(MANIFEST_DATA_DIR / "LINK.csv")

In [13]:
manifest_out = pd.DataFrame(
    [
       ("UMCReportId", int, 11, 0, 11, "Unique number linking OUT to DEMO"),
       ("Seriousness", str, 2, 11, 13, "Seriousness_Lx.Code. Seriousness criteria of case."),
       ("Serious", str, 1, 13, 14, "The value refers to if the case was serious or not. Could be either ’Y’ = yes ’N’ = no"),
    ],
  columns = ["column_name", "dtype", "number_of_chars", "char_position_start", "char_position_end", "notes"]
)
manifest_out

,column_name,dtype,number_of_chars,char_position_start,char_position_end,notes
0,UMCReportId,<class 'int'>,11,0,11,Unique number linking OUT to DEMO
1,Seriousness,<class 'str'>,2,11,13,Seriousness_Lx.Code. Seriousness criteria of c...
2,Serious,<class 'str'>,1,13,14,The value refers to if the case was serious or...

In [23]:
manifest_out.to_csv(MANIFEST_DATA_DIR / "OUT.csv")

In [21]:
manifest_srce = pd.DataFrame(
    [
       ("UMCReportId", int, 11, 0, 11, "Unique number linking OUT to DEMO"),
       ("Type", str, 2, 11, 13, "Notifier_Lx.Code. Notifier type."),
    ],
  columns = ["column_name", "dtype", "number_of_chars", "char_position_start", "char_position_end", "notes"]
)
manifest_srce

,column_name,dtype,number_of_chars,char_position_start,char_position_end,notes
0,UMCReportId,<class 'int'>,11,0,11,Unique number linking OUT to DEMO
1,Type,<class 'str'>,2,11,13,Notifier_Lx.Code. Notifier type.

In [22]:
manifest_srce.to_csv(MANIFEST_DATA_DIR / "SRCE.csv")

In [16]:
manifest_adr = pd.DataFrame(
    [
       ("UMCReportId", int, 11, 0, 11, "Unique number linking OUT to DEMO"),
       ("Adr_Id", int, 11, 11, 22, "Unique number identifying each row in ADR"),
       ("MedDRA_Id", int, 8, 22, 30, "MedDRA term code"),
       ("Outcome", str, 1, 30, 31, "Outcome_Lx.Code. Outcome of reaction."),
    ],
  columns = ["column_name", "dtype", "number_of_chars", "char_position_start", "char_position_end", "notes"]
)
manifest_adr

,column_name,dtype,number_of_chars,char_position_start,char_position_end,notes
0,UMCReportId,<class 'int'>,11,0,11,Unique number linking OUT to DEMO
1,Adr_Id,<class 'int'>,11,11,22,Unique number identifying each row in ADR
2,MedDRA_Id,<class 'int'>,8,22,30,MedDRA term code
3,Outcome,<class 'str'>,1,30,31,Outcome_Lx.Code. Outcome of reaction.

In [30]:
manifest_adr.to_dict(orient="record")[0]

/var/folders/xb/j24pcj0541l061x4stbhr1p40000gn/T/ipykernel_8477/290085495.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  manifest_adr.to_dict(orient="record")[0]

{'column_name': 'UMCReportId',
 'dtype': int,
 'number_of_chars': 11,
 'char_position_start': 0,
 'char_position_end': 11,
 'notes': 'Unique number linking OUT to DEMO'}

In [18]:
manifest_adr.to_csv(MANIFEST_DATA_DIR / "ADR.csv")

In [3]:
count = pd.DataFrame(
  columns=["Table", "No of rows"],
  data=[
    ("ADR", 66802344),
    ("DEMO", 27213386),
    ("DRUG", 71006811),  # OLD
    # ("DRUG", 78_840_125),  # NEW
    #("DRUG", 78840125),  # NEW
    ("FOLLOWUP", 7759897),
    ("IND", 35474400),
    ("LINK", 99273742),
    ("OUT", 22677257),
    ("SRCE", 21105031 ),
  ],
)
pd.options.display.float_format = '{:,.0f}'.format

count["No of rows"] =  count["No of rows"].astype(float)
display(count)

      Table  No of rows
0       ADR  66,802,344
1      DEMO  27,213,386
2      DRUG  71,006,811
3  FOLLOWUP   7,759,897
4       IND  35,474,400
5      LINK  99,273,742
6       OUT  22,677,257
7      SRCE  21,105,031

In [63]:
pd.options.display.float_format

In [5]:
count.to_csv(MANIFEST_DATA_DIR / "count.csv")

In [8]:
count.to_csv(MANIFEST_DATA_DIR / "count.csv")

In [35]:
count[count["Table"] == "ADR"]["No of rows"].values

array([66802344])

In [42]:
count.loc[count["Table"] == "ADR", "No of rows"].squeeze()

66802344